/* MAIN */
main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}


/* MENU-SECTION */
main .menuSection {
    background-color: var(--secondary-bg);
    border-right: 1px solid var(--border);
    text-transform: uppercase;
}

main .menuSection .op {
    border-bottom: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .menuSection .loginAs {
    padding: 2rem 0;
    align-items: center;
}

main .menuSection .loginAs p {
    text-transform: capitalize;
    font-size: 0.9rem;
    line-height: 0.9;
}

main .menuSection .menu {
    align-items: baseline;
    font-size: 1em;
    text-transform: uppercase;
    color: var(--dark-text);
    padding: 1rem 1.5rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

main .menuSection .menu:hover,
main .menuSection .menu.active {
    background-color: var(--dark-text);
    color: var(--secondary-bg);
}

main .menuSection .addNewIntern {
    background-color: var(--dark-text);
    color: var(--secondary-bg);
    text-transform: uppercase;
    font-size: 1em;
    border-radius: 5px;
    width: 70%;
    margin: 2rem auto;
    padding: 0.7rem 1rem;
    font-weight: bold;
    cursor: pointer;
}

main .menuSection .addNewIntern:hover {
    background-color: var(--accent);
    color: var(--dark-text);
}


/* DISPLAY-SECTION */
main .displaySection {
    background-color: var(--secondary-bg);
    padding: 0.5em;
    overflow-x: auto;
}