header {
    display: flex;
    padding: 1.3rem 2rem;
    justify-content: space-between;
    align-items: center;
}

header .login-btn {
    background-color: var(--light-bg);
    color: var(--dark-text);
    font-weight: bold;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    padding: 12px 24px;
    font-size: 18px;
}

header .login-btn:disabled {
    display: none;
}
