table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px;
    table-layout: fixed;
}

thead,
tbody {
    display: contents;
}

table tr {
    display: grid;
    align-items: center;
    padding: 0.5em 0;
    gap: 5px;
}

table th,
table td {
    text-align: center;
    padding: 0.5em;
}

table td {
    text-align: center;
    padding: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table thead tr {
    border-bottom: 4px double var(--border);
}

table tbody tr {
    border-bottom: 1px solid var(--border);
}

table tbody tr td:first-child {
    margin-left: 2rem;
    text-align: left;
}

/* <-------------- New Intern List --------------> */
.newInternTable tr {
    grid-template-columns: repeat(10, 1fr);
}

select {
    padding: 0.4em;
    border-radius: 4px;
    border: 1px solid var(--border);
    background-color: #fff;
    font-size: 0.9em;
    width: 90%;
}

.action-btn button {
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 5px;
    padding: 3px;
    transition: all 100ms linear;
}
.action-btn .accept-btn {
    color: green;
}
.action-btn .reject-btn {
    color: rgb(230, 39, 39);
}
.action-btn .accept-btn:hover,
.action-btn .reject-btn:hover {
    font-size: 1rem;
}

/* <-------------- Undergoing Intern List --------------> */
.undergoingInternTable tr {
    grid-template-columns: repeat(10, 1fr);
}

/* <-------------- Completed Intern List --------------> */
.completedInternTable tr {
    grid-template-columns: repeat(11, 1fr);
}

/* <-------------- Certified Intern List --------------> */
.undergoingInternTable tr {
    grid-template-columns: repeat(10, 1fr);
}
