:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --light-bg: #F8F3D9;
    --secondary-bg: #EBE5C2;
    --accent: #B9B28A;
    --dark-text: #504B38;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
}